/*Scroll bar nav*/
::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: auto;
  -webkit-box-shadow: auto;
  -webkit-border-radius: auto;
  border-radius: auto;
  background: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: auto;
  border-radius: auto;
  background: auto;
  box-shadow: auto;
  -webkit-box-shadow: auto;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: auto;
}
