@-webkit-keyframes glowing {
    0% {
        background-color: #0091b2;
        -webkit-box-shadow: 0 0 3px #0091b2;
    }

    50% {
        background-color: #21c7ed;
        -webkit-box-shadow: 0 0 15px #21c7ed;
    }

    100% {
        background-color: #0091b2;
        -webkit-box-shadow: 0 0 3px #0091b2;
    }
}

@keyframes glowing {
    0% {
        background-color: #2A73FF;
        box-shadow: 0 0 3px #2A73FF;
    }

    50% {
        background-color: #2A73FF;
        box-shadow: 0 0 15px #2A73FF;
    }

    100% {
        background-color: #2A73FF;
        box-shadow: 0 0 3px #2A73FF;
    }
}